/weights
/results
/endoscapes
scripts/__pycache__
SwinLSTMend2endraw_inference.qsub.sh
testins.ipynb
/Sages
Sages_fold1_test_data.json
Sages_fold1_train_data.json
Sages_fold2_test_data.json
Sages_fold2_train_data.json
wandb/
format_challenge_data/extended_annots/
preprocessed_data/